/* src/components/AddItems.css */
.add-items {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
  }
  
  .add-items h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 70%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .form-group input:focus {
    border-color: #555;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
  }
  
  button:hover {
    background-color: #555;
    color: white;
  }
  
  .items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .items-table th,
  .items-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .items-table th {
    background-color: white ;
    color:#555;
  }
  