/* src/components/Header.css */

.header {
  background-color: #c8c5c5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.logo-section {
  display: flex;
  align-items: center;
}

.brand h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.header-actions {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-icon {
  font-size: 24px;
  color: #e91e63;
  margin-right: 20px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  margin-right: 25px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .header {
    padding: 10px;
    flex-direction: column;
    height: auto;
  }

  .brand h1 {
    font-size: 20px;
  }

  .header-actions {
    justify-content: center;
    margin-top: 10px;
  }

  .header-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
