/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  
}

.content-area {
  display: flex;
  margin-top: 80px; /* Adjust this value to match the header height */
}

.main-content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}

/* ------------------------------------------SIDEBAR------------------------------------------------------ */
/* -------------------------------------------------------ADD-ITEM---------------------------- */


